{% include 'header.html' %}
{% load static %}
<title>Login</title>



</head>
<body>
{% include 'nav-bar.html' %}
<!-- ###### code here ##### -->


    <div class="container mt-3">
        <h2>Login Now</h2>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <div class="mb-3 mt-3">
                <label for="username">Username </label>
                <input type="text" class="form-control mt-2" id="username" placeholder="Enter username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password">Password </label>
                <input type="password" class="form-control  mt-2" id="password" placeholder="Enter password" name="password" required>
            </div>
            <a href="/new/account?utm_source=login_page_signup_button" class="btn btn-primary">Signup</a>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        {% if messages %}
            {% for message in messages %} <li class="text-danger"> {{message}}</li> {% endfor %}
        {% endif %}
        
    </div>



<!-- ###### code here ##### -->
{% include 'footer.html' %}    