{% include 'header.html' %}
{% load static %}
<title>Create Profile</title>



</head>
<body>
{% include 'nav-bar.html' %}
<!-- ###### code here ##### -->


<div class="container mt-3">
    <h2>Login Now</h2>
    <form action="/new/profile/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3 mt-3">
            <label for="img">Picture </label>
            <input type="file" name="img" id="img" accept="image/*">
        </div>

        <div class="mb-3 mt-3">
            <label for="full_name">Full name <b class="text-danger">*</b></label>
            <input type="text" class="form-control mt-2" id="full_name" placeholder="Enter full name" name="full_name" required>
        </div>

        <div class="mb-3 mt-3">
            <label for="phone_no">Phone no <b class="text-danger">*</b></label>
            <input type="tel" class="form-control mt-2" id="phone_no" placeholder="Enter phone no" name="phone_no" required>
        </div>

        <div class="mb-3 mt-3">
            <label for="gender">Gender <b class="text-danger">*</b></label>
            <select name="gender" id="gender" required>
                <option selected disabled>--Select--</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="mb-3 mt-3">
            <label for="nationality">Nationality <b class="text-danger">*</b></label>
            <input type="text" class="form-control mt-2" id="nationality" placeholder="Enter Nationality" name="nationality" required>
        </div>
        

        <div class="mb-3 mt-3">
            <label for="profession">Profession</label>
            <select name="profession" id="profession">
                <option selected disabled>--Select--</option>
                <option value="Student">Student</option>
                <option value="Engineer">Engineer</option>
                <option value="Nurse">Nurse</option>
            </select>
        </div>


        <div class="mb-3">
            <label for="place">Place of work </label>
            <input type="text" class="form-control  mt-2" id="place" placeholder="Enter place of work" name="place">
        </div>


        <div class="mb-3">
            <label for="address">Address </label>
            <textarea name="address" id="address" class="form-control  mt-2" placeholder="Enter address" rows="4"></textarea>
        </div>




        <a href="/login/?utm_source=signup_page_login_button" class="btn btn-primary">Login</a>
        <button type="submit" class="btn btn-success">Create Profile</button>
    </form>
    {% if messages %}
        {% for message in messages %} <li class="text-danger"> {{message}}</li> {% endfor %}
    {% endif %}
    
</div>




<!-- ###### code here ##### -->
{% include 'footer.html' %}