{% include 'header.html' %}
{% load static %}
<title>Register</title>



</head>
<body>
{% include 'nav-bar.html' %}
<!-- ###### code here ##### -->


<div class="container mt-3">
    <h2>Signup Now</h2>
    <form action="/new/account/" method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="username">Username </label>
            <input type="text" class="form-control mt-2" id="username" placeholder="Enter username" name="username" required>
        </div>

        <div class="mb-3 mt-3">
            <label for="email">Email </label>
            <input type="email" class="form-control mt-2" id="email" placeholder="Enter email" name="email" required>
        </div>


        <div class="mb-3">
            <label for="password1">Password </label>
            <input type="password" class="form-control  mt-2" id="password1" placeholder="Enter password" name="password1" required>
        </div>

        <div class="mb-3">
            <label for="password2">Retype Password </label>
            <input type="password" class="form-control  mt-2" id="password2" placeholder="Retype password" name="password2" required>
        </div>


        <a href="/login/?utm_source=signup_page_login_button" class="btn btn-primary">Login</a>
        <button type="submit" class="btn btn-success">Signup</button>
    </form>
    {% if messages %}
        {% for message in messages %} <li class="text-danger"> {{message}}</li> {% endfor %}
    {% endif %}
    
</div>



<!-- ###### code here ##### -->
{% include 'footer.html' %}