{% include '../header.html' %}
{% load static %}
<title>Add a New Room</title>



</head>

<body>
    {% include '../nav-bar.html' %}
    <!-- ###### code here ##### -->


    <div class="container-fluid">
        <div class="container">
            <div class="mt-4"></div>
            <!-- Main content -->
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- Left side -->
                    <div class="col-lg-8">
                        <!-- Basic information -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="h6 mb-4">Room information <b class="text-danger">*</b></h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Room No</label>
                                            <input type="number" name="room_no" placeholder="eg. 804" id="room_no"
                                                class="form-control" required maxlength="5" minlength="1">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Floor No</label>
                                            <input type="number" name="floor" id="floor" placeholder="eg. 8"
                                                class="form-control" required maxlength="2" minlength="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Room Type</label>
                                            <input type="text" name="room_type" id="room_type"
                                                placeholder="eg. Dorm room" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Appartment Name</label>
                                            <input type="text" name="appartment_name" placeholder="eg. Parus Dorm"
                                                id="appartment_name" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-2">
                                            <div class="card-body">
                                                <label class="form-label">Appartment Address</label>
                                                <textarea id="appartment_address" placeholder="eg. 3A Nikita Lane"
                                                    name="appartment_address" class="form-control" rows="3"
                                                    required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Details -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h6 mb-4">Room details</h3>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">No of beds available</label>
                                                    <input class="form-control" type="number" name="no_of_beds"
                                                        id="no_of_beds" placeholder="eg 1">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Max Occupants</label>
                                                    <input class="form-control" type="number" name="max_occupants"
                                                        id="max_occupants" placeholder="eg 2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Current Occupants</label>
                                                    <input class="form-control" type="number" name="current_occupants"
                                                        id="current_occupants" placeholder="eg 1">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Gender Preference</label>
                                                    <select class="form-select" id="gender_preference"
                                                        name="gender_preference">
                                                        <option value="Both Male & Female" selected>Both Male & Female
                                                        </option>
                                                        <option value="Female only only">Male only</option>
                                                        <option value="active">Female only</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Room Rent</label>
                                            <input type="number" id="room_rent" name="room_rent"
                                                placeholder="eg 3000 RUB" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Rent Type</label>
                                            <select class="form-select" id="rent_type" name="rent_type">
                                                <option value="Month">Month</option>
                                                <option value="Week">Week</option>
                                                <option value="Day">Day</option>
                                                <option value="Year">Year</option>
                                            </select>
                                        </div>

                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <h3 class="h6">Manager Details</h3>
                                                <textarea class="form-control" name="manager" id="manager"
                                                    placeholder="eg Ivan Sandvich, +7 98765 43210" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Right side -->
                    <div class="col-lg-4">
                        <!-- Avatar -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="h6">Photos</h3>
                                <input class="form-control" accept="image/*" name="img" id="img" type="file" multiple>
                            </div>
                        </div>
                        <!-- Description -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="h6">Description</h3>
                                <textarea class="form-control" name="description" placeholder="Room description"
                                    rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Title -->
                    <div class="d-flex justify-content-between align-items-lg-center py-3 flex-column flex-lg-row">

                        <div class="hstack gap-3">
                            <button class="btn btn-light btn-icon-text"><i class="bi bi-x"></i> <span
                                    class="text">Cancel</span></button>
                            <button type="submit" class="btn btn-primary btn-lg  btn-icon-text"><i class="bi bi-save"></i> <span
                                    class="text">Publish</span></button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    </div>



    <!-- ###### code here ##### -->
    {% include '../footer.html' %}